/*
https://colorhunt.co/palette/cff5e7a0e4cb59c1bd0d4c92
CFF5E7 < top 
A0E4CB < mid top
59C1BD < mid bottom
0D4C92 < bottom

*/

$base-color: #CFF5E7;
$second-color: #A0E4CB;
$third-color: #59C1BD;
$fourth-color: #0D4C92;
$off-white: #FFF8F0;

/* universal reset of margins and padding */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'ArialRounded', sans-serif; // no impact 
    // background-color: $base-color;
    background-image: linear-gradient(to bottom, $base-color, $second-color, $third-color, $fourth-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* absolute header and footer for all pages */

header {
    background-color: $base-color;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'ArialRounded', sans-serif;
    color: $off-white;
    z-index: 1;
  }

  header svg {
    padding-right: 10px;
    // width: 32;
    // height: 32; 
    // fill: currentColor;
  }

  /* used to remove underline on redirect link back to home*/
  header a {
    text-decoration: none;
    color: $fourth-color;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0px;
    font-size: 12px;
    font-family: 'ArialRounded', sans-serif;
    // background-color: $fourth-color;
    color: $off-white;
  }


  .loginPage {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // // height: 850px;
    // height: auto;
  }

  /* login page */

  .loginBox {
    // background-color: $third-color;
    background-color: rgba(255, 255, 255, 0.5);
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em 2em 1.5em 2em;
    margin-bottom: 10px;
  }
  
  .loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input::placeholder {
    overflow: visible;
  }

  .formInfo {
    display: flex;
    flex-direction: column;
    margin: 2px auto;
    padding: 4px;
    background-color: $off-white;
    border: 1px solid;
    border-radius: 3px;
  }
  
  .loginBtn {
    margin: 5px auto;
    padding: auto 3px;
    width: 100%;
    color: $off-white;
    background-color: $fourth-color;
  }

  .loginBox a {
    font-size: 1em;
    margin: .25em;
    // color: $off-white;
    color: $fourth-color;
  }









  /* signup page */

.signupPage {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // // background-color: $base-color;
  // height: 850px;
  // margin: auto;
}

.signupBox {
  // background-color: $third-color;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
  border: 1px solid;
  border-radius: 4px;
  padding: 2em 2em 1.5em 2em;
  font-size: 1em;
  font-family: 'ArialRounded', sans-serif;
}

.signupHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto 16px;
  font-size: 2em;
}

.signupForm .formInfo {
  display: flex;
  flex-direction: column;
  margin: 2px auto;
  padding: 2px;
  background-color: $off-white;
  border: 1px solid;
  border-radius: 3px;
}

.signupBtn {
  margin: 5px auto;
  padding: auto 3px;
  width: 100%;
  color: $off-white;
  background-color: $fourth-color;
}

/* home page */

.homePage {
  // height: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.homeHeader {
  // margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 2em;
  padding: 25px;
  & div {
    margin: 2px;
  }
}

.homeBody {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  min-width: 325px;
  padding: 2em;
  border-radius: 1em;
}

.time {
  font-size: 120px;
  font-family: 'Rubik', sans-serif;
  // margin: 15% auto auto;
  // color: $off-white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.buttons {
  display: flex;
  flex-direction: rows;
  justify-content: center;

  & button {
    font-size: 32px;
    color: $off-white;
    background-color: $fourth-color;
    // margin: auto 5px auto;
    padding: .5em 1em;
    font-family: 'Rubik', sans-serif;
    border-radius: .5em;
    width: 175px;
  }
}

button:hover {
  background-color: #B73E3E;
}

// br {
//   height: 5px;
// }


/* Task List Table */

.taskTable {
  margin: 1em auto auto;
}

th {
  border-bottom: 1px solid black;
}

.taskName {
  display : flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: auto auto auto 5px;
}

tr > div {
  width: 300px;
}

// .editBtn {
//   display: flex;
//   justify-content: center;
// }

.taskInput {
  width: 300px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 1em;
}